
            <div class="row">
                <div class="col-lg-12">
                    <h3>Pesquisa Vendedor</h3>
                   <small>Lista de usuarios cadastrados.</small>
                   <h1 class="page-header"> </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
              
                <div class="col-lg-12">

                    <div class="header-buttons">
                        <a routerLink="/sitemaGB/administrativo/vendedor-manter" title="Novo Vendedor" class="btn btn-primary"><i class="icon-user icon-white fa fa-plus"></i> Novo Vendedor</a>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body">


           
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-vendedores">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nome</th>
                                        <th>CPF</th>
                                        <th>Telefone</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let v of vendedorPesquisa" [routerLink]="['/sitemaGB/administrativo/vendedor-manter', v.codigo]" class="odd gradeX">
                                        <td>{{ v.codigo }}</td>
                                        <td>{{ v.nome }}</td>
                                        <td>{{ v.cpf }}</td>
                                        <td>{{ v.telefone }}</td>
                                    </tr>

                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                   



                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        

        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
      $(document).ready(function() {
          $('#dataTables-vendedores').DataTable({
              responsive: true
          });
      });
    </script>